@model HW2_ASP.Models.LoginModel

@{
    ViewBag.Title = "Login";
}



<div style="position: absolute; top: 50%;left: 50%;margin-right: -50%;transform: translate(-50%, -50%)">
    <table style="border-collapse: separate;border-spacing: 5px;">
        <tr>
            <td>
                <div class="input-group flex-nowrap">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@@</span>
                    </div>
                    @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control", @placeholder = "Login" } })
                    
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="input-group flex-nowrap">
                    <input class="form-control" type="password" placeholder="Password" aria-label="Username" aria-describedby="addon-wrapping">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="btn-group" role="group" style="float:right" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary">Login</button>
                    <button type="button" class="btn btn-secondary">Register</button>
                </div>
            </td>
        </tr>
    </table>
</div>
